* {
    box-sizing: border-box;
}

.width-full {
    display: block;
    max-width: 1000px;
    min-height: 600px;
    margin: 0px auto;
    border: 1px solid #000;
    padding: 20px;
}
.container {
    display: block;
    width: 100%;
}

h1 {
    text-align: center;
}
.container-input {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 20px;
    
}
input {
    display: flex;
    width: 30%;
    border: 1px solid #000;
    height: 50px;
    font-size: 20px;
}
.chart {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid #000;
    height: 400px;
    justify-content: space-between;
    padding: 20px;
}

.bar {
    background-color: blue;
    width: 10px;
    height: 100%;
}

